.background1 { 
    background: url(mainback.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
  }
  .background2 { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
  }

  #main{
    color:white; 
    font-size:50px; 
    font-family: 'Georgia', sans-serif;

  }

  .dash1{
    color: rgb(178, 202, 152);
    border-style:dotted;
}

.color1{
    color: rgb(122, 133, 176);
}

.family1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  }

.align1{
    text-align:center;
}

.back-color1{
    background-color: rgb(246, 146, 178);
}

.dimention1{
    height: 100px;
    width: 500px
}

.opacity1{
    opacity: 0.6;
}

.spacing1{
    letter-spacing: 5px;
}

.hover1{
    color: rgb(218, 31, 149);
}

.shadow1{
    text-shadow: 2px 2px 5px rgb(151, 159, 213);
}

.decoration{
    text-decoration: overline underline;
}